<style>
    input[type=number] {
      display: inline-block;
      text-align: right;
      width: 3em;
    }

    {% block style %}{% end %}
</style>

{% block configbody %}
    <h2>{% block gridsetname %}Grid{% end %}</h2>

    <dl>
    {% block gridsize %}
      <dt>Grid size:</dt>
      <dd>
        <input type="number" size="2" name="grid_y" value="{{ grid_y }}" />
        ×
        <input type="number" size="2" name="grid_x" value="{{ grid_x }}" />
      </dd>
    {% end %}
    {% block cellsize %}
      <dt>Cell size:</dt>
      <dd>
        <input type="number" size="3" name="cell_w" value="{{ cell_w }}" />
        ×
        <input type="number" size="3" name="cell_h" value="{{ cell_h }}" />
      </dd>
    {% end %}
    {% block extragridsettings %}
    {% end %}
    </dl>
    {% block setting %}
    {% end %}
{% end %}
