{% extends "baseconfig.html" %}


{% block gridsize %}
{% end %}


{% block setting %}
    <h2>Animation</h2>
    <dl>
        <dt>Current animation:</dt>
        <dd>{{ animation_file }}</dd>

        <dt>New animation:</dt>
        <dd><input type="file" name="animation_file" value="" accept="image/gif" /></dd>

        <dt>Play animation:</dt>
        <dd>
            <label>
                <input type="radio" name="playgif" value="on" {% if  playgif %}checked{% end %} />
                On
            </label>
            <label>
                <input type="radio" name="playgif" value="off" {% if not playgif %}checked{% end %} />
                Off
            </label>
        </dd>

        <dt>Center horizontally:</dt>
        <dd>
            <label>
                <input type="radio" name="center" value="true" {% if center %}checked{% end %} />
                True
            </label>
            <label>
                <input type="radio" name="center" value="false" {% if not center %}checked{% end %} />
                False
            </label>
        </dd>

        <dt>Center vertically:</dt>
        <dd>
            <label>
                <input type="radio" name="centerv" value="true" {% if centerv %}checked{% end %} />
                True
            </label>
            <label>
                <input type="radio" name="centerv" value="false" {% if not centerv %}checked{% end %} />
                False
            </label>
        </dd>

        <dt>Transition time:</dt>
        <dd>
            <label>
                <input type="text" size="8" name="transitiontime" value="{{ transition_time }}" />
                (in 10ths of a second)
            </label>
        </dd>
    </dl>
{% end %}
