{% extends "baseconfig.html" %}


{% block gridsize %}
{% end %}


{% block setting %}
    <h2>Animation</h2>
    <dl>
        <dt>Current animation:</dt>
        <dd>{{ animation_file }}</dd>

        <dt>New animation:</dt>
        <dd><input type="file" name="animation_file" value="" accept="image/gif" /></dd>

        <dt>Play animation:</dt>
        <dd>
            <label>
                <input type="radio" name="playgif" value="on" {% if  playgif %}checked{% end %} />
                On
            </label>
            <label>
                <input type="radio" name="playgif" value="off" {% if not playgif %}checked{% end %} />
                Off
            </label>
        </dd>

        <dt>Center horizontally:</dt>
        <dd>
            <label>
                <input type="radio" name="center_hor" value="true" {% if center_hor %}checked{% end %} />
                True
            </label>
            <label>
                <input type="radio" name="center_hor" value="false" {% if not center_hor %}checked{% end %} />
                False
            </label>
        </dd>

        <dt>Center vertically:</dt>
        <dd>
            <label>
                <input type="radio" name="center_vert" value="true" {% if center_vert %}checked{% end %} />
                True
            </label>
            <label>
                <input type="radio" name="center_vert" value="false" {% if not center_vert %}checked{% end %} />
                False
            </label>
        </dd>

        <dt>Offset horizontally:</dt>
        <dd>
            <label>
                <input type="number" size="2" name="offset_hor" value="{{ offset_hor }}" />
                pixels (or lamps)
            </label>
        </dd>

        <dt>Offset vertically:</dt>
        <dd>
            <label>
                <input type="number" size="2" name="offset_vert" value="{{ offset_vert }}" />
                pixels (or lamps)
            </label>
        </dd>

        <dt>Transition time:</dt>
        <dd>
            <label>
                <input type="number" size="4" name="transitiontime" value="{{ transition_time }}" />
                (in 10ths of a second)
            </label>
        </dd>

        <dt>Off color:</dt>
        <dd>
            <label>
                <input type="color" size="8" name="offcolor" value="{{ off_color }}" />
            </label>
        </dd>
    </dl>
{% end %}
