{% extends "baseconfig.html" %}


{% block gridsize %}
{% end %}


{% block setting %}
    <h2>Animation</h2>
    <table>
        <tr>
            <td>Current animation:</td>
            <td>{{ animation_file }}</td>
        </tr>
        <tr>
            <td>New animation: </td>
            <td><input type="file" name="animation_file" value="" accept="image/gif" /></td>
        </tr>
        <tr>
            <td>Play animation:</td>
            <td>On <input type="radio" name="playgif" value="on" />
                Off <input type="radio" name="playgif" value="off" /></td>
        </tr>
    </table>
{% end %}
