<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Play the House</title>
    <link rel="stylesheet" href="/static/playthehouse.css" />
    <link rel="stylesheet" href="/static/common.css" />
    <script src="/static/game-shared.js"></script>
    <script>
    function updateGridSize() {
      var overlayEl = document.querySelector('#grid-cont .overlay'),
          gridEl    = document.querySelector('#grid-cont .grid')
      gridEl.style.height = window.getComputedStyle(overlayEl).height
    }
    window.addEventListener('resize', updateGridSize, false)
    window.addEventListener('load', updateGridSize, false)
    </script>
    <style>
    .grid           { background: #000;                    }
    .grid img       { background-color: {{ color_empty }}; }
    .grid img:hover { background-color: {{ color_hover }}; }

    {% block style_simple %}
    {% end %}

    {% block style %}
    {% end %}
    </style>
    <script>
      // Options set by this template
      var templateConfig = { paddingCells: true,
                             imageCells:   false }

      // Options from server
      var config = {
        grid_x: {{ grid_x }},
        grid_y: {{ grid_y }}
      }
    </script>
  </head>
  <body>
    {# Facebook #}
    <div id="fb-root"></div>
        <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    {% block overlay %}
    <div id="overlay" class="hidden">
        <div id="overlaymessage">The game got destroyed!</div>
    </div>
    {% end %}

    <div id="site">
      <header id="logo">
        <a href="/"><img src="/static/img/logo.png" /></a>
        <h1><a href="/">Play the House</a></h1>
      </header>

      <section class="main">
        <div id="game-area">
          <div id="palette-cont">
            <div>
              {% block message-area %}
              <div id="message-box" class="box">
                <div id="message">Connecting...</div>
              </div>
              {% end %}
              {% block game_postgrid %}
              {% end %}
            </div>
            <img class="overlay" src="/static/img/palette.png" />
          </div>
          <div id="grid-cont">
            <img class="overlay" src="/static/img/playfield.png" />

            {% block playground %}
            <table id="grid" class="grid"></table>
            {% end %}

            {#
            <table class="grid">
              <tr>
                <td></td>
                <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
                <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
                <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
                <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td> <td></td>
                <td></td>
              </tr>
            </table>
            #}

          </div>
        </div>
        <div id="stream-cont">

          {#
          {% block postgrid %}
          <div style="text-align:center">
              {% raw stream_embedcode %}
          </div>
          {% end %}
          #}
          <img class="placeholder" src="/static/img/placeholder_stream.png" />
        </div>
      </section>

      <section class="left">
        <div>
          <p>
            The world's biggest online Mastermind game,<br/>
            Play the Nod building in real life, in real time.
          </p>
        </div>
        <div>
          <p>
            Queue up by <span class="link" id="queuebtn">clicking here</span><br/>
            {#<input type="button" id="queuebtn" value="Join queue" />#}
            Soon you will be coupled with another player<br/>
            Choose colours from the colour palette to create your secret code<br/>
            When both players are ready, the game begins<br/>
            Guess your opponent's colour combination<br/>
            Every even column is a guess, and every other is a clue
          </p>
          <dl>
            <dt>White light:</dt><dd>Right colour, right place</dd>
            <dt>Flashing light:</dt><dd>Right colour, wrong place</dd>
          </dl>
          <p>
            The first player to guess the opponent's colour code wins!
          </p>
        </div>
      </section>

      <aside class="left">
        <div>
          <ul class="link-list">
            <li>Read about <a href="#">Play the House</a></li>
            <li>This project is created with <a href="#">Philips Hue</a></li>
            <li><a href="#">Read about Nod</a></li>
            <li><a href="#">Read about Atrium Ljungberg</a></li>
            <li>With kind help from <a href="#">Intertek</a></li>
            <li><a href="#">Team SMAB / KTH</a></li>
            <li><a href="#">Håkan Lidbo</a></li>
            <li class="mail">@ <a href="#">Contact</a></li>
          </ul>
          </p>
        </div>
        <div>
          <p>
            Share on Facebook and Twitter
          </p>
        </div>
        <div>
          <img src="/static/img/sponsors.png" />
        </div>
      </aside>
    </div>

    <script>
        var socketport = {{ socketport }}

        // For use in simplegame
        var player = 0
        var handler, time

        function on_message(obj) {
            {% block rulemessage %}
                if (obj.rulemessage != null) {
                    document.getElementById('therules').innerHTML = obj.rulemessage;
                }
            {% end %}

            {% block timelimits %}
            {% end %}

            {% block message %}
            {% end %}

            {% block queuemsg %}
            session = "{{ gamesession }}" // to lazy to use the cookie value
            handle_queue_msg(obj)
            {% end %}
        }

        function play() {
            var coords = this.id.split("-")

            function reply(response) {
                ws.send(JSON.stringify(extend({ gameaction: true }, response)))
            }

            {% block click %}
            {% end %}

            function extend(target, source) {
                for (var k in source) target[k] = source[k]
                return target
            }
        }

        {% block script %}
        {% end %}
    </script>
    <script src="/static/game-base.js"></script>
  </body>
</html>
