<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/game-base.css" />
        <style>
            #grid td {
                width:  {{ cell_w }}px;
                height: {{ cell_h }}px;
            }

            #grid           { background: #000;                    }
            #grid img       { background-color: {{ color_empty }}; }
            #grid img:hover { background-color: {{ color_hover }}; }

            {% block style %}
            {% end %}
        </style>
        <script>
            var config = {
                grid_x: {{ grid_x }},
                grid_y: {{ grid_y }}
            }
        </script>
    </head>
    <body>
    	
    	{% block queue %}
        <div id="queue" class="box">
            <p id="queuemsg">Connecting to queue...</p>
            <input type=button id="queuebtn" value="Join queue" />
        </div>
        {% end %}
        
        <h1>{{ title }}</h1>



        {% block grid %}
            {% block message-area %}
            <div id="message" class="box">Connecting...</div>
            {% end %}

        <table id="grid"></table>

        {% block postgrid %}
        <div style="text-align:center">
            {% raw stream_embedcode %}
        </div>
        {% end %}

		{%block rules%}
		{%end%}

        {% end %}

        <script>


			window.onload=function(){
					document.getElementById("rules").style.display='none';

				}
				function showButton(){
					if(document.getElementById("rules").style.display != 'block'){
						document.getElementById("rules").style.display='block';
						document.getElementById("rules").scrollIntoView();
				}else{
					document.getElementById("rules").style.display='none';
				}
			}


            socketport = {{ socketport }}

            function on_message(obj) {
                {% block rulemessage%}
				{% end %}
                
                
                {% block message %}	
                {% end %}
				
				
			
                {% block queuemsg %}
                session = "{{ gamesession }}" // to lazy to use the cookie value
                handle_queue_msg(obj)
                {% end %}
            }





            function play() {
                coords = this.id.split("-")

                function reply(response) {
                    ws.send(JSON.stringify(extend({ gameaction: true }, response)))
                }

                {% block click %}
                {% end %}

                function extend(target, source) {
                    for (var k in source) target[k] = source[k]
                    return target
                }
            }

            {% block script %}
            {% end %}
        </script>

        <script src="/static/game-base.js"></script>
    </body>
</html>
