<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Play the House</title>
    <link rel="stylesheet" href="/static/playthehouse.css" />
    <link rel="stylesheet" href="/static/common.css" />
    <script src="/static/game-shared.js"></script>
    <script>
    function updateGridSize() {
      var overlayEl = document.querySelector('#grid-cont .overlay'),
          gridEl    = document.querySelector('#grid-cont .grid')
      gridEl.style.height = window.getComputedStyle(overlayEl).height
    }
    window.addEventListener('resize', updateGridSize, false)
    window.addEventListener('load', updateGridSize, false)
    </script>
    <style>
    .grid           { background: #000;                    }
    .grid img       { background-color: {{ color_empty }}; }
    .grid img:hover { background-color: {{ color_hover }}; }

    {% block style_simple %}
    {% end %}

    {% block style %}
    {% end %}
    </style>
    <script>
      // Options set by this template
      var templateConfig = { paddingCells: true,
                             imageCells:   false }

      // Options from server
      var config = {
        grid_x: {{ grid_x }},
        grid_y: {{ grid_y }}
      }
    </script>
  </head>
  <body>
    {# Facebook #}
    <div id="fb-root"></div>
        <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    {% block overlay %}
    <div id="overlay" class="hidden">
        <div id="overlaymessage">The game got destroyed!</div>
    </div>
    {% end %}

    <div id="site">
      <header id="logo">
        <a href="/"><img src="/static/img/logo.png" /></a>
        <h1><a href="/">Play the House</a></h1>
      </header>

      <section class="main">
        <div id="game-area">
          <div id="palette-cont">
            <div id="game-status">

              {% block simple_p0cont %}
              <div id="player0" class="player-cont current">
                <p style="text-align: center; font-weight: bold">Player 1</p>
                <p id="player0score">Score: {{ score_1 }}</p>
                <p id="player0time">Time: {{ timelimit }}</p>
              </div>
              {% end %}

              <div class="middle">
                {% block message-area %}
                <div id="message-box" class="box">
                  <div id="message">Connecting...</div>
                </div>
                {% end %}
                {% block game_postgrid %}
                {% end %}
              </div>

              {% block simple_p1cont %}
              <div id="player1" class="player-cont">
                <p style="text-align: center; font-weight: bold">Player 2</p>
                <p id="player1score">Score: {{ score_2 }}</p>
                <p id="player1time">Time: {{ timelimit }}</p>
              </div>
              {% end %}

            </div>

            <img class="overlay" src="/static/img/palette.png" />
          </div>
          <div id="grid-cont">
            <img class="overlay" src="/static/img/playfield.png" />

            {% block playground %}
            <table id="grid" class="grid"></table>
            {% end %}

            <div class="popup" id="game-popup">
            {% block game_popup %}
            {% end %}
            </div>
          </div>
        </div>
        <div id="stream-cont">
          {% raw stream_embedcode %}
        </div>
      </section>

      <section class="left">
        <div>
          <p>
            The world's biggest online Mastermind game,<br/>
            Play the Nod building in real life, in real time.
            Queue up by <span class="link" id="queuebtn">clicking HERE</span><br/>
          </p>
        </div>
        <div>
          <p>
            Soon you will be coupled with another player<br/>
            The pulsating window indicates where your colour choice will go<br/>
            <br/>
            Choose colours from the colour palette to create your secret code<br/>
            When both players are ready, the game begins<br/>
            <br/>
            Guess your opponent's colour combination<br/>
            Every even column is a guess, and every other is a clue
          </p>
          <dl>
            <dt>White light:</dt><dd>Right colour, right place</dd>
            <dt>Flashing light:</dt><dd>Right colour, wrong place</dd>
          </dl>
          <p>
            The first player to guess the opponent's colour code wins!<br/>
            <br/>
            Learn more about <a href="http://en.wikipedia.org/wiki/Mastermind_(board_game)">Mastermind on Wikipedia</a>
          </p>
        </div>
      </section>

      <aside class="left">
        <div>
          <ul class="link-list">
            <li>Read about <a href="http://hakanlidbo.com/archives/3740">Play the House</a></li>
            <li>This project is created with <a href="http://www2.meethue.com/en-US/">Philips Hue</a></li>
            <li><a href="http://kistanod.se/en/">Read about Nod</a></li>
            <li><a href="http://www.atriumljungberg.se/en/">Read about Atrium Ljungberg</a></li>
            <li>With kind help from <a href="http://www.intertek.se/">Intertek</a></li>
            <li><a href="#">Team SMAB / KTH</a></li>
            <li><a href="http://hakanlidbo.com/">Håkan Lidbo</a></li>
            <li class="mail">@ <a href="mailto:hakan@hakanlidbo.com">Contact</a></li>
          </ul>
          </p>
        </div>
        <div>
          <p>
            Share on Facebook and Twitter
          </p>
        </div>
        <div>
          <img src="/static/img/loggor.jpg" />
        </div>
      </aside>
    </div>

    <script>
        var socketport = {{ socketport }}

        // For use in simplegame
        var player = 0
        var handler, time

        function on_message(obj) {
            {% block rulemessage %}
                if (obj.rulemessage != null) {
                    console.log("Ignoring rule update...")
                 // document.getElementById('therules').innerHTML = obj.rulemessage;
                }
            {% end %}

            {% block timelimits %}
            {% end %}

            {% block message %}
            {% end %}

            {% block queuemsg %}
            session = "{{ gamesession }}" // to lazy to use the cookie value
            handle_queue_msg(obj)
            {% end %}
        }

        function play() {
            var coords = this.id.split("-")

            function reply(response) {
                ws.send(JSON.stringify(extend({ gameaction: true }, response)))
            }

            {% block click %}
            {% end %}

            function extend(target, source) {
                for (var k in source) target[k] = source[k]
                return target
            }
        }

        {% block script %}
        {% end %}
    </script>
    <script src="/static/game-base.js"></script>
  </body>
</html>
