{% extends "base.html" %}

{% block style %}
    #grid .shadow, #grid .shadow:hover {
        background-color: #555 !important;
    }
{% end %}


{% block script %}
    // Since there can't be any gaps in a connect-4 board, it's enough to keep
    // track of a heightmap of the game field when it comes to figuring out
    // where a newly-placed piece will land.  The code for this could be
    // prettier, but this'll do for now...
    var heights   = [],
        maxHeight = Infinity

    var shadowEl   = null,
        lastColumn = -1

    function updateShadow() {
        var x = lastColumn,
            y = (heights[x] || maxHeight) - 1

        var el = y < 0? null : document.getElementById(x + "-" + y)

        if (shadowEl != null) shadowEl.className = shadowEl.className.replace(/ shadow/, '')
        if (el != null) el.className += ' shadow'
        shadowEl = el
    }

    window.addEventListener('load', function () {
        maxHeight = document.querySelectorAll('#grid > tr').length

        var tiles = Array.prototype.slice.call(document.querySelectorAll('#grid .tile'))
        tiles.forEach(function (tile) {
            tile.addEventListener('mouseover', function () {
                lastColumn = parseInt(this.id.split("-")[0], 10)
                updateShadow()
            }, false)
        })
    }, false)
{% end %}


{% block click %}
    // Send to server
    var x = parseInt(coords[0], 10)
    reply({ x: x,
            y: (heights[x] || maxHeight) - 1 })
{% end %}


{% block message %}
    if (obj.x != undefined) {
        e = document.getElementById(obj.x + "-" + obj.y)

        if (obj.delay != null) {
          setTimeout(updateCell.bind(null,obj), obj.delay)
        } else {
          updateCell(obj)
        }
    }

    function updateCell(obj) {
      var el = document.getElementById(obj.x + "-" + obj.y)

      if (obj.power) {
          heights[obj.x] = Math.min(heights[obj.x] || maxHeight, obj.y)
          if (heights[obj.x] == 0) heights[obj.x] = -1  // indicates full column
          updateShadow()
      }

      var color = 'hsl(' + Math.floor(obj.hue / 255) + ',100%,50%)'
      el.style.backgroundColor = obj.power? color : ''
      el.style.className       = obj.power? 'on'  : 'off'
    }
{% end %}
