{% extends "base.html" %}

{% block style %}
    #grid .shadow, #grid .shadow:hover {
        background-color: #555 !important;
    }
{% end %}


{% block script %}
    // Since there can't be any gaps in a connect-4 board, it's enough to keep
    // track of a heightmap of the game field when it comes to figuring out
    // where a newly-placed piece will land.  The code for this could be
    // prettier, but this'll do for now...
    var heights   = [],
        maxHeight = Infinity

    var shadowEl    = null,
        shadowShown = true,
        lastColumn  = -1

    function updateShadow() {
        var x = lastColumn,
            y = (heights[x] || maxHeight) - 1

        var el = y < 0? null : document.getElementById(x + "-" + y)

        if (shadowEl != null) shadowEl.classList.remove('shadow')
        if (el != null && shadowShown) el.classList.add('shadow')
        shadowEl = el
    }

    window.addEventListener('load', function () {
        maxHeight = document.querySelectorAll('#grid > tr').length

        var tiles = Array.prototype.slice.call(document.querySelectorAll('#grid .tile'))
        tiles.forEach(function (tile) {
            tile.addEventListener('mouseover', function () {
                lastColumn = parseInt(this.id.split("-")[0], 10)
                updateShadow()
            }, false)
        })
    }, false)
{% end %}

{% block click %}
    // Send to server
    var x = parseInt(coords[0], 10)
    reply({ x: x,
            y: (heights[x] || maxHeight) - 1 })
{% end %}


{% block message %}
    console.log(JSON.stringify(obj))
    switch (obj.state) {
      case 'playing':
        console.log("Enabling shadow...")
        shadowShown = true
        updateShadow()
        break

      case undefined:
        break

      default:
        console.log("Disabling shadow...")
        shadowShown = false
        updateShadow()
        break
    }

    switch (obj.gamestate) {
        case 'reset':
           heights = []
    }

    if (obj.x != undefined && state != 'gameover') {
        e = document.getElementById(obj.x + "-" + obj.y)

        if (obj.delay != null) {
          setTimeout(updateCell.bind(null,obj), obj.delay)
        } else {
          updateCell(obj)
        }
    }

    function updateCell(obj) {
      var el = document.getElementById(obj.x + "-" + obj.y)

      if (obj.transitiontime != null) {
        el.style.transition = 'background-color ' + (obj.transitiontime * 100) + 'ms'
        setTimeout(function () {
          el.style.transition = ''
        }, obj.transitiontime * 100)
      }

      if (obj.move && obj.power) {
          heights[obj.x] = Math.min(heights[obj.x] || maxHeight, obj.y)
          if (heights[obj.x] == 0) heights[obj.x] = -1  // indicates full column
          updateShadow()
      }

   // var color = 'hsl(' + Math.floor(obj.hue / 255) + ',100%,50%)'
      el.style.backgroundColor = obj.power? toHSL(obj.hsl) : ''
      el.style.className       = obj.power? 'on'           : 'off'

      function toHSL(a) {
        return "hsl(" + a[0] + ","
                      + Math.floor(a[1] / 256 * 100) + "%,"
                      + Math.floor(a[2] / 256 * 100) + "%)"
      }
    }
{% end %}

{%block rulemessage%}

    if (obj.rulemessage != null){
        document.getElementById('therules').innerHTML = obj.rulemessage;
    }


{% end %}

{%block rules%}
<div id="rules" class="rules box">
  <p id="therules" ><p>
</div>
{%end%}
