{% extends "base.html" %}


{% block style %}
    #message { display: none; }
{% end %}


{% block message %}
    if (obj.x != undefined) {
        e = document.getElementById(obj.x + "-" + obj.y)
        var color  = "rgb("+obj.color[0]+","+obj.color[1]+","+obj.color[2]+")"
        e.style.backgroundColor = obj.power? color : ''
        e.style.className       = obj.power? 'on'  : 'off'
    }
{% end %}


{% block message-area %}
{% end %}


{% block queuemsg %}
    // ignore
{% end %}

{% block queue %}
{% end %}


{% block rules %}
{% end %}

{% block rulemessage %}
{% end %}
