{% extends "base.html" %}


{% block click %}
    // Send to server
    reply({ x: parseInt(coords[0], 10),
            y: parseInt(coords[1], 10) })
{% end %}

{%block rules%}

<div id="rules" class="rules">
			
<p id="therules" ><p>
	<p>
		<p><b>Name:</b> Memory</p>

		<p><b>Players:</b> 2</p>

		<p><b>Rules & Goals:</b> Each player takes turns flipping over a card. If a player manages to flip over two identical cards that player recieves one point, and the cards stay revealed. When all the cards have been revealed the game is over and the player with highest score wins.</p>
</p>

</div>

{%end%}

{% block message %}
    if (obj.x != undefined && state != 'gameover') {
        e = document.getElementById(obj.x + "-" + obj.y)

        if (obj.delay != null) {
          setTimeout(updateCell.bind(null,obj), obj.delay)
        } else {
          updateCell(obj)
        }
    }

    function updateCell(obj) {
      var el = document.getElementById(obj.x + "-" + obj.y)

      var color = 'hsl(' + Math.floor(obj.hue / 255) + ',100%,50%)'
      el.style.backgroundColor = obj.power? color : ''
      el.style.className       = obj.power? 'on'  : 'off'
    }
{% end %}
