{% extends "base.html" %}


{% block style %}
    #grid img.player_1 { background-color: {{ color_1 }}; }
    #grid img.player_2 { background-color: {{ color_2 }}; }
{% end %}


{% block click %}
    // Send to server
    reply({ x: parseInt(coords[0], 10),
            y: parseInt(coords[1], 10) })
{% end %}


{% block message %}
    if (obj.x != null && state != 'gameover') {
        var el = document.getElementById(obj.x + "-" + obj.y)
        el.className = obj.color;
    }
{% end %}


{%block rulemessage%}

    if (obj.rulemessage != null){
        document.getElementById('ruletext').innerHTML = "<p><b>Description:</b>The goal of this game is to, on a " + config.grid_y + " by " + config.grid_x + " grid, connect " + obj.rulemessage + " dots. Each player takes turn to place a dot anywhere on the grid where there is not already another dot and the first player to get "+obj.rulemessage+" dots in a row horizontally, vertically or diagonally wins the game </p>";
    }


{% end %}



{%block rules%}
<input type="button" id="userText" value="Rules" onclick="showButton()" class = "rulebutton"/>
	<div id="rules" class="rules">
			
<p id="therules" ><p>
	<p>
		<p><b>Name: Tic-Tac-Toe</b></p>
		<p><b>Players:</b> 2</p>
		<div id=ruletext></div>		
		<p></p>
</p>
</div>
{%end%}

