{% extends "mastermind.html" %}

{% block style %}
#game-area {
  position: relative;
/*border: 2px solid #FFF;*/
}

#game-area > .extra {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  margin-top: -3em;
  z-index: 1000;
  vertical-align: middle;
}

#game-area > *:not(.extra) {
  opacity: 0.2;
}


{% end %}

{% block simple_p0cont %}
{% end %}

{% block simple_p1cont %}
{% end %}

{% block game-extra %}
  <h1>Play the House is currently offline</h1>
  <p>We will be back soon</p>
{% end %}

{% block script %}
document.getElementById('message').innerHTML = '&nbsp;'
{% end %}

{% block game_base %}
{% end %}
