{% extends "base.html" %}


{% block click %}
    // Send to server
    reply({ x: parseInt(coords[0], 10),
            y: parseInt(coords[1], 10) })
{% end %}


{% block message %}
    obj = JSON.parse(evt.data)
    if (obj.x != undefined) {
        e = document.getElementById(obj.x + "-" + obj.y)
        e.style.backgroundColor = "rgb("+obj.color[0]+","+obj.color[1]+","+obj.color[2]+")"
    }
{% end %}


{% block message-area %}
{% end %}


{% block queuemsg %}
    // ignore
{% end %}

{% block queue %}
{% end %}
