{% extends "base.html" %}


{% block click %}
    // Send to server
    reply({ x: parseInt(coords[0], 10),
            y: parseInt(coords[1], 10) })
{% end %}


{% block message %}
    if (obj.x != undefined) {
        e = document.getElementById(obj.x + "-" + obj.y)
        e.style.backgroundColor = "rgb("+obj.color[0]+","+obj.color[1]+","+obj.color[2]+")"
    }
{% end %}


{% block message-area %}
{% end %}


{% block queuemsg %}
    // ignore
{% end %}

{% block queue %}
{% end %}

{%block rules%}
<div id="rules" class="rules">
			
<p id="therules" ><p>
	<p>
		<p><b>Name:</b> Paint</p>

		<p><b>Players:</b> Any</p>

		<p><b>Rules & Goals:</b> No rules, no goals, only paint. By clicking a cell the player will fill it with their assigned colour, thus painting the grid. Refresh the page to get a new colour.</p>
</p>

</div>

{%end%}
