{% extends "base.html" %}


{% block style_simple %}
    .player-cont {
        position: absolute;
        z-index: 4;
        width: 130px;
        padding: 1em;
        border-radius: 1em;
        bottom: 3em;
        height: 175px;
        text-align: center;
        font-family: sans-serif;
        background: rgba(0,0,0, 0.2);
    }
    .player-cont.current {
        background: rgba(0,200,32, 0.7);
    }
    #player0 { left: -190px; }
    #player1 { right: -190px; }

    .wrapper-outer {
        text-align: center;
    }
    .wrapper {
        display: inline-block;
        position: relative;
    }

    .player-cont > .lamp {
        display: inline-block;
        padding: 0.6em 0.7em;
        border-radius: 8px;
        box-shadow: 0 0 16px rgba(32,32,32, 0.7);
        background: #000;
    }

    {% if color_1 != None %}
    #player0color { background-color: {{ color_1 }} }
    #player1color { background-color: {{ color_2 }} }
    {% else %}
    #player0color, #player1color { display: none; }
    {% end %}

    #player0time, #player1time {
        {% if timelimit == None %}
        display: none;
        {% end %}
    }
    #player0score, #player1score {
        {% if score_1 == None %}
        display: none;
        {% end %}
    }
{% end %}


{% block playground %}
<div class="wrapper-outer">
    <div class="wrapper">
        <div id="player0" class="player-cont current">
            <div class="lamp">
                <img id="player0color" src="/static/lamp.png" />
            </div>
            <p style="text-align: center; font-weight: bold">Player 1</p>
            <p id="player0score">Score: {{ score_1 }}</p>
            <p id="player0time">Time: {{ timelimit }}</p>
        </div>

        <div id="player1" class="player-cont">
            <div class="lamp">
                <img id="player1color" src="/static/lamp.png" />
            </div>
            <p style="text-align: center; font-weight: bold">Player 2</p>
            <p id="player1score">Score: {{ score_2 }}</p>
            <p id="player1time">Time: {{ timelimit }}</p>
        </div>

        <table id="grid"></table>
    </div>
</div>
{% end %}

{% block timelimits %}
function changeTurn(p) {
    player = p 
    var pl   = document.getElementById("player"+p)
    var op = document.getElementById("player"+(1-p))

    // Set current player indication
    pl.className += " current"
    op.className = op.className.replace(/ ?current/g, "")
} 
function changeTime(p, t) {
    time = t
    document.getElementById("player"+p+"time").innerHTML = "Time: " + time 
}
function decreaseTime() {
    time -= 1; 
    changeTime(player, time); 
}

if(obj.x == undefined) 
    console.log(obj) 

function changeScore(p, s) {
    document.getElementById("player"+p+"score").innerHTML = "Score: " + s
}


if(obj.score_1 != undefined) {
    changeScore(0, obj.score_1) 
}

if(obj.score_2 != undefined) {
    changeScore(1, obj.score_2) 
}

if(obj.turn != undefined) {
    if(handler != undefined) {
        window.clearInterval(handler) 
        handler = undefined 
    }
    changeTime(player, {{ timelimit }}) 
    changeTurn(obj.turn) 
}

if(obj.timeleft != undefined) {
    if(handler != undefined) {
        window.clearInterval(handler) 
    }
    changeTime(player, obj.timeleft) 
    handler = window.setInterval(decreaseTime, 1000); 
}


if(obj.pause != undefined) {
    if(obj.pause) {
        window.clearInterval(handler) 
        handler = undefined 
    }
    else {
        handler = window.setInterval(decreaseTime, 1000) 
    }
}


if(obj.gamestate == 'reset') {
    if(handler != undefined) {
        window.clearInterval(handler) 
    }
    changeTime(0, {{ timelimit }}) 
    changeTime(1, {{ timelimit }}) 
    changeScore(0, 0) 
    changeScore(1, 0)
    changeTurn(0) 
} 

{% end %}



