#center {
    width: 900px;
    margin: 3em auto;
}

#menu { text-align: center; padding: 0; }
#menu li {
    width: 8em;
    display: inline-block;
    background-color: #9CF;
    border: 2px solid #666;
}
#menu li a:hover { background-color: #CEF; }
#menu li a, #menu li a:visited { color: #333; }
#menu li a {
    display: block;
    height: 100%;
    padding: 1em;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
}
#menu li a.active {
    background-color: #69F;
    text-decoration: underline;
    font-weight: bold;
}

h1 { font-size: 160%; }
h1,h2 { color: #555; }

#settings {
    margin-top: 2em; 
}
#settings h1 {
    margin: 1em 10%;
    padding-left: 0.5em;
    border-bottom: 2px solid #666;
}
#settings h2 {
    font-size: 140%;
}

#settings .subsection {
    margin: 0;
    padding: 0;
}


#bridges {
    margin: 0 auto;
    margin-bottom: 2.5em;

    color: #444;
    font-family: "monospace";
    border-spacing: 0;
    text-align: center;
    border: 2px solid #666;
}

#bridges tr:hover {
    background-color:#CEF!important;
}
#bridges tr:nth-child(odd) {
    background-color: #9CF;
}
#bridges tr {
    font-size: 14px;
}

#bridges td {
    padding: 8px 10px;
    font-size: 11px;
}
#bridges th {
    color: white;
    background-color: #666;
    padding: 8px 16px;
}

#bridges .ip { width: 125px; font-size: 11px; line-height:16px;}
#bridges .username { width: 215px; font-size: 11px; line-height:16px;}

#buttons { text-align: center; padding: 0; }
#buttons li {
    width: 128px;
    height: 32px;

    margin: 0 4px;
    display: inline-block;
}
#buttons li input { width: 100%; height: 100%;}


#message {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0.6em;
    text-align: center;
    box-shadow: 0 0 8px #222;
    font-family: sans-serif;
    background: #EEE;
}
#message.type-error {
    font-weight: bold;
    background: #F33;
}


#game-settings {
    margin: 1em 0;
    padding: 0.5em;
    border: 1px solid #CCC;
}
#game-settings > * {
    display: table-cell;
    height: 100%;
    padding: 0 1em;
}
#game-settings > *:not(:last-child) {
    margin-right: 1em;
    border-right: 1px solid #CCC;
}
#game-menu {
    /*
    float: left;
    height: 100%;
    padding: 0 1em;
    margin-right: 1em;
    border-right: 1px solid #CCC;
    */
}
#game-menu > ul {
    display: block;
    padding-left: 0;
}
#game-menu > ul li {
    list-style-type: none;
}
#game-menu > ul input {
    display: block;
    width: 100%;
}
#game-settings > div {
}

.subsection dl {
    display: block;
    margin-bottom: 2em;
}
.subsection dt, .subsection dd {
    padding: 0.3em 0;
}
.subsection dt {
    display: block;
    float: left;
    width: 10em;
}
.subsection dd {
    display: block;
    margin-left: 10em;
    width: 20em;
}
.subsection dd::after {
    content: "";
    clear: both;
    display: block;
}
