body {
    margin: 0;
    padding: 0;
    background: #235;
}

/*** Messages & Queue ************************/
.box {
    position: fixed;
    z-index: 10;
    width: 100%;
    margin: 0;
    padding: 1em;

    text-align: center;
    font-family: sans-serif;
    color: black;
    box-shadow: 0 0 8px #222;
    background: #568;
}

#message {
    top: 0;
}
#message.type-message {
    /* no overriding necessary */
}
#message.type-error {
    font-weight: bold;
    background: #A12;
}


#queue {
    bottom: 0;
}
#queuemsg {
    margin: 2px;
}


/*** Grid ************************************/
#grid {
    position: relative;
    margin: 5em auto;
    padding: 0.5em 2em;

    border-radius: 8px;
    box-shadow: 0 0 16px #000;
    background: #000;

     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
    -webkit-user-select: none;
            user-select: none;
}

#grid td {
    position: relative;
    margin: 0;
    padding: 0;
}
#grid td > img {
    width: 100%;
    height: 100%;
}
