{% extends config_base.html %}


{% block menu_game %}active{% end %}


{% block configstyle %}
    .hidden {
        display: none;
    }

    #name {
        width: 100%;
    }
{% end %}


{% block configscript %}
    function onnamechange(e) {
        set_state(e.value != '{{ game_name }}');
    }
    function onpathchange(e) {
        set_state(e.value != '{% raw game_path %}');
    }
    function set_state(change_game) {
        config = document.getElementById("gameconfig");
        save = document.getElementById("savebutton");
        if (change_game) {
            config.className = "hidden";
            save.value = "Change Game";
        } else {
            config.className = "";
            save.value = "Save Settings";
        }
    }
{% end %}


{% block configbody %}
<div id="settings">
    {% if status != "" %}
        <div id="message" class="type-{{ status }}">{{ message }}</div>
    {% end %}
    <form enctype="multipart/form-data" action="/config/game" method="post">
        <h1>Game Settings - {{ module_name }}</h1>

        <label for="game_path">Game path</label>
        <input id="path" name="game_path" value="{{ game_path }}" onchange="onpathchange(this)" />

        <div id="game-settings">
            <div id="game-menu">
                <h2>Change game</h2>
                <ul>
                    {% for name in game_list %}
                        <li><input type="submit" name="game_name" value="{{ name }}" /></li>
                    {% end %}
                </ul>
            </div>

            {#
            <table>
            <tr>
                <td>Current game: </td>
                <td>
                    <select id="name" name="game_name" value="{{ game_name }}" onchange="onnamechange(this)">
                    {% for name in game_list %}
                        <option value="{{ name }}" {% if name==game_name %}selected{% end %}>{{ name }}</option>
                    {% end %}
                    </select>
                </td>
            </tr><tr>
                <td>Game paths: </td>
                <td><input id="path" name="game_path" value="{{ game_path }}" onchange="onpathchange(this)" /></td>
            </tr>
            </table>
            #}

            <div id="gameconfig">
                <div class="subsection">
                {% module Template("config/" + config_file, **vars) %}
                </div>
            </div>
        </div>

        <ul id="buttons">
            <li><input type="submit" id="savebutton" value="Save Settings"></li>
        </ul>
    </form>
</div>
{% end %}
