{% extends configbase.html %}


{% block menu_bridges %}active{% end %}


{% block configbody %}
    <h1>Bridges</h1> 
    <form action="/config" method="post"> 
        <table id="bridges"> 
            <tr> 
                <th>#</th> 
                <th>Select</th> 
                <th class="mac">MAC</th> 
                <th class="">IP</th>
                <th class="">Username</th> 
                <th class="valid">valid_username</th> 
                <th class="lights"># Lights</th> 
            </tr> 
            {% for i, mac in enumerate(bridges) %}
            <tr> 
                <td>{{ i+1 }}</td> 
                <td><input type="checkbox" name="select" value="{{ mac }}"></td> 
                <td>{{ mac }}</td> 
                <td>{{ bridges[mac]['ip'] }}</td> 
                <td>{{ bridges[mac]['username'] }}</td> 
                <td>{{ bridges[mac]['valid_username'] }}</td> 
                <td>{{ bridges[mac]['lights'] }}</td> 
            </tr>
            {% end %}
            <!--tr>
                <td>1</td> 
                <td>
                    <input type="checkbox" name="select" 
                    value="A">
                </td>
                <td>001788182e78</td> 
                <td>130.237.228.58:80</td> 
                <td>a0e48e11876b8971eb694151aba16ab</td>
                <td>true</td>
                <td>3</td> 
            </tr--> 
            <!--tr>
                <td>2</td> 
                <td>
                    <input type="checkbox" name="select" 
                    value="">
                </td>
                <td>001788182e78</td> 
                <td>130.237.228.58:80</td> 
                <td>a0e48e11876b8971eb694151aba16ab</td>
                <td>true</td>
                <td>3</td> 
            </tr> 
            <tr>
                <td>3</td> 
                <td>
                    <input type="checkbox" name="select" 
                    value="">
                </td>
                <td>001788182e78</td> 
                <td>130.237.228.58:80</td> 
                <td>a0e48e11876b8971eb694151aba16ab</td>
                <td>true</td>
                <td>3</td> 
            </tr> 
            <tr>
                <td>4</td> 
                <td>
                    <input type="checkbox" name="select" 
                    value="">
                </td>
                <td>001788182e78</td> 
                <td>130.237.228.58:80</td> 
                <td>a0e48e11876b8971eb694151aba16ab</td>
                <td>true</td>
                <td>3</td> 
            </tr--> 
            <tr>
                <td>-</td> 
                <td>-</td>
                <td>-</td> 
                <td>
                    <input type="text" class="ip" name="ip" placeholder="IP Address">
                </td> 
                <td>
                    <input type="text" class="username" name="username" placeholder="Username">
                </td>
                <td>-</td>
                <td>-</td> 
            </tr> 
        </table> 
        <ul id="buttons"> 
            <li><input type="submit" value="Identify Selected"></li>
            <li><input type="submit" value="Add Bridge"></li> 
            <li><input type="submit" value="Remove Selected"></li> 
            <li><input type="submit" value="Refresh List"></li> 
        </ul> 
    </form>

{% end %}
