{% extends config_base.html %}


{% block menu_bridges %}active{% end %}

{% block config_script %}
    function addBridge() {
        var bridges = document.getElementById('bridges');
        var tr = document.createElement('tr');

        var no = document.createElement('td');
        no.innerHTML = '-';
        tr.appendChild(no);

        var select = document.createElement('input');
        select.type = 'checkbox';
        select.name = 'checkbox';
        tr.appendChild(wrapTd(select));

        var mac = document.createElement('td');
        mac.innerHTML = '-';
        tr.appendChild(mac);

        var ip = document.createElement('input');
        ip.className = 'ip';
        ip.type = 'text';
        ip.name = 'ip';
        tr.appendChild(wrapTd(ip));

        var username = document.createElement('input');
        username.className = 'username';
        username.type = 'text';
        username.name = 'username';
        tr.appendChild(wrapTd(username));

        var valid = document.createElement('td');
        valid.innerHTML = '-';
        tr.appendChild(valid);

        var lights = document.createElement('td');
        lights.innerHTML = '-';
        tr.appendChild(lights);

        bridges.appendChild(tr);
        ip.focus();
    }
{% end %}

{% block configbody %}
    <h1>Bridges</h1>
    <form action="/config/bridges" method="post">
        <table id="bridges">
            <tr>
                <th>#</th>
                <th>Select</th>
                <th class="mac">MAC</th>
                <th class="">IP</th>
                <th class="">Username</th>
                <th class="valid">valid_username</th>
                <th class="lights"># Lights</th>
            </tr>
            {% for i, mac in enumerate(bridges) %}
            <tr>
                <td>{{ i+1 }}</td>
                <td><input type="checkbox" name="select" value="{{ mac }}"></td>
                <td>{{ mac }}</td>
                <td>{{ bridges[mac]['ip'] }}</td>
                <td>{{ bridges[mac]['username'] }}</td>
                <td>{{ bridges[mac]['valid_username'] }}</td>
                <td>{{ bridges[mac]['lights'] }}</td>
            </tr>
            {% end %}
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>
                    <input type="text" class="ip" name="ip" placeholder="IP Address">
                </td>
                <td>
                    <input type="text" class="username" name="username" placeholder="Username">
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
        </table>
        <ul id="buttons">
            <li><input type="submit" value="Identify Selected"></li>
            <li><input type="submit" value="Add Bridge"></li>
            <li><input type="submit" value="Remove Selected"></li>
            <li><input type="submit" value="Refresh List"></li>
        </ul>
    </form>
{% end %}


