{% extends config_base.html %}


{% block menu_grid %}active{% end %}


{% block configstyle %}
    table#grid {
        margin: 0 auto;
    }
    #grid td:hover {
        width: 46px;
        height: 46px;
        border: 2px solid #666;
    }
    #grid td {
        width: 48px;
        height: 48px;
        border: 1px solid #666;
    }

    #grid .free {
        background-color: #ddd;
    }
    #grid .claimed {
        background-color: #9cf;
    }
    #grid .error {
        background-color: #f44;
    }

    .info {
        font-size: 80%;
    }
    .center {
        text-align: center;
    }
    #miscinput {
        margin-top: 16px;
    }
    #miscinput input[type='text'] {
        width: 4em;
    }
    #miscinput input[type='submit'] {
        width: 8em;
    }
    #grid_data {
        width: 400px;
        height: 80px;
    }
{% end %}


{% block configscript %}
    function gridclick(e) {
        coords = e.id.split("-");

        field = document.getElementById("coords");
        field.value = coords;

        document.gridform.placelamp.click()
    }
{% end %}


{% block configbody %}
<div id="settings">
    <h1>Grid</h1>
    <form name="gridform" action="/config/grid" method="post">
        <div class="center info">
            Activated lamp: <br/>
            {% if lamp != '' %}
                {{ lamp['mac'] }}#{{ lamp['lamp'] }}<br/>
                Place the activated lamp where it belongs
            {% else %}
                none<br/><br/>
            {% end %}
        </div>

        <table id="grid">
            {% for r in range(grid['height']) %}
                <tr>
                {% for c in range(grid['width']) %}
                    {% if grid['grid'][r][c] == None %}
                        {% set cell_class = "free" %}
                    {% elif grid['grid'][r][c] in invalid %}
                        {% set cell_class = "error" %}
                    {% else %}
                        {% set cell_class = "claimed" %}
                    {% end %}
                    <td id="{{ r }}-{{ c }}" class="{{ cell_class }}" onclick="gridclick(this)"></td>
                {% end %}
                </tr>
            {% end %}
        </table>

        <!-- todo: move or something -->
        <div id="miscinput" class="center">
            <div style="width:100%"> 
                <input id="coords" name="coords" type="text" value="" placeholder="x,y" />
                <input type="submit" name="placelamp" {% if lamp == '' %} value="Remove Lamp" title="No activated lamp, can only remove lamp" {% else %} value="Place Lamp" title="Place or remove lamp" {% end %} />
                <input type="hidden" name="lamp" value="{{ activated }}" />
            </div>
            <div style="width:100%">
                <input name="grid_size" type="text" value="{{ grid['height'] }}x{{ grid['width'] }}" placeholder="HxW" {% if changed %} title="Save or refresh to enable" disabled {% end %} />
                <input type="submit" name="changesize" value="Change Size" {% if changed %} title="Save or refresh to enable" disabled {% end %} />
            </div> 
        </div>

        <ul id="buttons">
            <li><input type="submit" name="save" value="Save" {% if not changed %} title="No changes made" disabled {% else %} title="Save and use on lamp server" {% end %}></li>
            <li><input type="submit" name="refresh" value="Refresh" title="Discard local grid and retrieve the one on the lamp server"></li>
            <li><input type="submit" name="off" value="Turn Off" title="Turn off current game and all lamps"></li>
            <li><input type="submit" name="test" value="Run Diagnostics"></li>
        </ul>
        <div class="center">
        <textarea type="text" id="grid_data" name="grid_data">{{ json_encode(grid['grid']) }}</textarea>
        </div>
    </form>
</div>
{% end %}
