{% extends config_base.html %}


{% block menu_bridges %}active{% end %}

{% block configstyle %}
.uname:hover {
    background-color: #ccc; 
}

.uname {
    font-weight: bold; 
    text-decoration: underline; 
    color: blue; 
}
{% end %}

{% block configscript %}
function changeUsername(e) {
    var a = prompt("Change username", e.innerHTML=='None'?'':e.innerHTML)
    if(a == null) return 
    a = a.trim() 
    // Check that the new username is not empty and is not the same as before. 
    if(a != '' && a != e.innerHTML) { 
        xhr = new XMLHttpRequest() 
        xhr.open("POST", "/config/bridges", false) 
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
        xhr.send("changeUsername&mac=" + e.className.split(" ")[1] + "&username=" + a)

        var url = location.protocol + '//' + location.host + location.pathname 
        if(JSON.parse(xhr.responseText).state != 'success') 
            location.href = url + "?status=error&msg=" + xhr.responseText["errormsg"]
        else 
            location.href = url 
    }
}
{% end %}

{% block configbody %}
<div id="settings"> 
    <h1>Bridges</h1>
    <form action="/config/bridges" method="post">
        <table id="bridges">
            <tr>
                <th>#</th>
                <th>Select</th>
                <th>MAC</th>
                <th>IP</th>
                <th>Username</th>
                <th>valid_username</th>
                <th># Lights</th>
            </tr>
            {% for i, mac in enumerate(sorted(bridges)) %}
            <tr>
                <td>{{ i+1 }}</td>
                <td><input type="checkbox" name="select" value="{{ mac }}"></td>
                <td>{{ mac }}</td>
                <td>{{ bridges[mac]['ip'] }}</td>
                <td class="uname {{ mac }}" onclick="changeUsername(this)">{{ bridges[mac]['username'] }}</td>
                <td>{{ bridges[mac]['valid_username'] }}</td>
                <td>{{ bridges[mac]['lights'] }}</td>
            </tr>
            {% end %}
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>
                    <input type="text" class="ip" name="ip" placeholder="IP Address">
                </td>
                <td>
                    <input type="text" class="username" name="username" placeholder="Username">
                </td>
                <td>-</td>
                <td>-</td>
            </tr>
        </table>
        <ul id="buttons">
            <li><input type="submit" name='identify' value="Identify Selected"></li>
            <li><input type="submit" name='add'      value="Add Bridge"></li>
            <li><input type="submit" name='remove'   value="Remove Selected"></li>
            <li><input type="submit" name='refresh'  value="Refresh List"></li>
            <li><input type="submit" name='search'   value="Search Bridges"></li>
        </ul>
    </form>
</div> 
{% end %}


