<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>Configure Playhouse!</title>
        
        <img id="smAB" src="/static/logga.png" alt="smAB" width="200">
        
        <link href="/static/configstyle.css" rel="stylesheet" type="text/css"> 
        <style type="text/css">
            {% block configstyle %}
            {% end %}
        </style>

        <script>
            {% block configscript %}
            {% end %}
        </script>
        {% block confighead %}
        {% end %}
    </head>
    <body>
        {% try %}
            {% if message and status %}
                <div id="message" class="type-{{ status }}">{{ message }}</div>
            {% end %}
        {% except NameError %}
        {% end %}
        <div id="center">
            <ul id="menu">
                <li><a class="{% block menu_setup %}{% end%}"   href="/config/setup">Setup</a></li>
                <li><a class="{% block menu_game %}{% end%}"    href="/config/game">Settings</a></li>
                <li><a class="{% block menu_bridges %}{% end%}" href="/config/bridges">Bridges</a></li>
                <li><a class="{% block menu_grid %}{% end%}"    href="/config/grid">Grid</a></li>
            </ul>

            {% block configbody %}
            {% end%}
        </div>
    </body>
</html>
