{% extends configbase.html %}


{% block menu_settings %}active{% end %}


{% block configbody %}
    <h1>Settings</h1>
    <form enctype="multipart/form-data" action="/config/game" method="post">
        <h2>Game Choice</h2>
        <table>
        <tr>
            <td>Current Game: </td>
            <td>
                <select name="game_name" value="{{ game_name }}">
                {% for name in game_list %}
                    <option value="{{ name }}" {% if name==game_name %}selected{% end %}>{{ name }}</option>
                {% end %}
                </select>
            </td>
        </tr><tr>
            <td>Game Paths: </td>
            <td><input name="game_path" value="{{ game_path }}" /></td>
        </tr>
        </table>

        {% module Template("config/" + config_file, **vars) %}

        <ul id="buttons">
            <li><input type="submit" value="Save Settings"></li>
        </ul>
    </form>
{% end %}
