{% extends "base.html" %}


{% block style %}
    div#message {
        text-align: center;
    }
{% end %}


{% block postgrid %}
<div id="message">Connecting...</div>
{% end %}


{% block click %}
    // Send to server
    ws.send(JSON.stringify({ x: parseInt(coords[0], 10),
                             y: parseInt(coords[1], 10) }))
{% end %}


{% block message %}
    obj = JSON.parse(evt.data)

    if (obj.error != undefined) {
        alert(obj.error)
    }
    if (obj.message != undefined) {
        e = document.getElementById("message")
        e.innerHTML = obj.message
    }
    if (obj.x != undefined) {
        e = document.getElementById(obj.x + "-" + obj.y)

        if (obj.delay != null) {
          setTimeout(updateCell.bind(null,obj), obj.delay)
        } else {
          updateCell(obj)
        }
    }

    function updateCell(obj) {
      var el = document.getElementById(obj.x + "-" + obj.y)

      var color = 'hsl(' + Math.floor(obj.hue / 255) + ',100%,50%)'
      el.style.backgroundColor = obj.power? color : ''
      el.style.className       = obj.power? 'on'  : 'off'
    }
{% end %}
