{% extends "base.html" %}


{% block style %}
    #grid td.player_1 { background-color: {{ color_1 }};     }
    #grid td.player_2 { background-color: {{ color_2 }};     }
    #grid td          { background-color: {{ color_empty }}; }
{% end %}


{% block click %}
    // Send to server
    reply({ x: parseInt(coords[0], 10),
            y: parseInt(coords[1], 10) })
{% end %}


{% block message %}
    obj = JSON.parse(evt.data)

    if (obj.error != undefined) {
        alert(obj.error)
    }
    if (obj.message != undefined) {
        e = document.getElementById("message")
        e.innerHTML = obj.message;
    }
    if (obj.x != undefined) {
        e = document.getElementById(obj.x + "-" + obj.y)
        e.className = obj.color;
    }
{% end %}
